.table-detail{
    color:black;
    position: relative;
    top: 50px;
    left: 20px;
    border: solid 1px black;
}

th{
    font-size: 20px;
    column-span: all;
}

td{
    font-size: 15px;
    color: white;
}

.object-notfound{
    position: relative;
    top: 70px;
}

.borderProject{
    border: black 1px solid;
    width: 200px;
    margin: 10px;
}



