.table-detail{
    color:black;
    position: relative;
    top: 50px;
    left: 20px;
    border: solid 1px black;
}

th{
    font-size: 20px;
    column-span: all;
}

td{
    font-size: 15px;
    color: white;
}

.object-notfound{
    position: relative;
    top: 70px;
}

@media only screen and (min-width: 200px){
    .borderProject{
        border: black 1px solid;
        width: 100px;
        margin: 1% 60% 1% 40%;
    }
}

@media only screen and (min-width: 993px) {
    .borderProject{
        border: black 1px solid;
        width: 100px;
        margin: 1% 46% 1% 46%;
    }
  }



